<h2>Creacion de pelicula</h2>
<br />
<div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input [(ngModel)]="movie.name" type="text" class="form-control" id="name">
   </div>
   <div class="form-group">
    <label for="description">Descripcion</label>
    <textarea [(ngModel)]="movie.description" class="form-control" id="description"></textarea>
   </div>
   <div class="form-group">
    <label for="genre">Genero</label>
    <input [(ngModel)]="movie.genre" type="text" class="form-control" id="genre">
   </div>
   <div class="form-group">
    <label for="duration">Duracion</label>
    <input [(ngModel)]="movie.duration" type="text" class="form-control" id="duration">
   </div>
   <div class="form-group">
    <label for="year">Año</label>
    <input [(ngModel)]="movie.year" type="number" class="form-control" id="year">
   </div>

 
  <button (click)="saveMovie()" class="btn btn-primary">Guardar</button>
</div>
<hr>
