<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Genero</th>
      <th scope="col">Año</th>
      <th scope="col">Duracion</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td scope="row">{{movie.id}}</td>
      <th scope="row">{{movie.name}}</th>
      <td>{{movie.description}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.duration}}</td>
      <td>
        <a class="btn btn-primary btn-sm" routerLink="/form/{{movie.id}}">Ver/Editar</a>
        <a class="btn btn-primary btn-sm btn-danger" (click)="delete(movie.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
  
</table>